<!----THIS IS WHERE THE GOOD CODE STARTS!!!!!!>





<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<link rel="icon" type="image/x-icon" href="https://cdn4.iconfinder.com/data/icons/free-large-love-icons/512/Rose.png" />
		<title>About- tębucīkø</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="css/style.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		
<style>
	body{
		background-color: #dbab72;
	}
</style>
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo"><strong>tębucīkø</strong> <span>of arts</span></a>
						
					</header>
			

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header 
									class="major">
										<h1>ABOUT US</h1>
									</header>

									<!-- Content -->
									<div class="aboutstuff">
										<h2>MEET THE CREATORS</h2>
										<img src="images/group.JPG" height="600" width = "800"> 
										</div>
											<div >
												
											

    
    
    			
							
    
    
    
    
    
</div>
		     </li>
		  </ul> 
		  
											</div>
								
											
											<!-- Break -->
											<div class="inner">
											<div class="row">
											<div class="4u 12u$(medium)">
												<h3 id="Nayna">NAYNA</h3>
												<p>My name is Nayna Pashilkar. I live in Austin, Texas and I’m a sophomore at Westlake Highschool. I’ve always been interested in coding but only started pursuing it this last school year in an AP Computer Science class. While I enjoyed the class it didn’t make me very excited about coding and the world of developing. However,  through the Kode with Klossy program I realized the extent of what coding can do and I’m really excited to continue coding for years to come. More about me: I was	born in England, and have lived in over 10 houses since. I love to travel. I do gymnastics. My name means eyes. I have a twin sister. I am NOT musically or artistically inclined but I still greatly enjoyed creating this website.</p>
												<a></a>
											</div>
											
											
											
											
											<div class="4u 12u$(medium)">
												<h3 id="Katelyn">KATELYN</h3>
												<p>
												My name is Katelyn Rodrigues. 
												I’m a junior at Regents School of 
												Austin. I’ve always been fascinated 
												by the innovative world of 
												technology and once my school 
												offered a programming course, I 
												instantly put my name on the list, 
												and ended up being the only female 
												in the class. However, it was 
												totally worth the hard work because 
												I learned the value of collaboration, 
												while also creating some amazing 
												projects such as a dungeon text 
												adventure game! Once I realized I 
												was so energized to code and create 
												impactful projects, I applied and 
												got accepted into Kode With Klossy. 
												In just two weeks, I realized that 
												coding is, most undoubtedly, the 
												best field to work in—partly because 
												it never gets boring! Combined with 
												my deep interests in classical music 
												(I play the violin and sing) and 
												math&science, coding allows me to 
												create ANY project to spread my love 
												for both. I hope tebuciko, the 
												aesthetics of the arts, creates a 
												lasting radiance in your life, just 
												as it did for me!
												</p>
												<a ></a>
											</div>
											
											
											
											<div class="3u$ 12u$(medium)">
												<h3 id="Aarushi">AARUSHI</h3>
												<p>Aarushi Machavarapu is an incoming junior at Westwood High School in Austin, TX. She is an involved activist and artist. Her passions mainly involve human rights- she is the founder of an organization called Threading Twine to empower youth activists and creators. She is currently working on finding ways to develop programs to help females break the glass ceiling into entrepreneurship and technology. Some of her favorite discussion and storytelling topics include identity, foster care, and feminism. Besides working on her organization, she's involved with TEDxYouth@Austin, the Youth Collaboration on Foreign Affairs, National Art Honor Society, and the Catapult Startup Incubator. Besides entrepreneurship and activism, she also loves the arts- music, painting, photography, writing, film, and more. Her dream is to be an activist in women's education and to fight for equality in society. She is also in love with Harry Styles, just saying. October 11th!!</p>
												<a></a>

											</div>
										</div>
										</div>

									<hr class="major" />
									

									
																
										
													
														
											<!--				 Break -->
														
											<!--<div class="row">-->
											<!--<div class="4u 12u$(medium)">-->
											<!--	<h3>Katelyn</h3>-->
											<!--	<p></p>-->
											<!--	<a></a>-->
											<!--</div>-->
											
											
											
											
											
<!--											<div class="4u 12u$(medium)">-->
<!--												<h3>GRAPHIC DESIGN</h3>-->
<!--												<p></p>-->
<!--												<a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="300" data-pin-scale-width="110" href="https://www.pinterest.com/thevectorlab/graphic-design-inspiration/?eq=graphic%2520design%2520i&etslf=13183"></a>-->
<!--											</div>-->
											
											
											
											
											
											
<!--											<div class="4u$ 12u$(medium)">-->
<!--												<h3>ASIAN ART</h3>-->
<!--												<p></p>-->
<!--												<a></a>-->
<!--											</div>-->
<!--										</div>-->
<!--								<hr class="major" />	-->
								

									
											
											
											
											<!-- Break -->
<!--											<div class="inner">-->
<!--											<div class="row">-->
<!--											<div class="4u 12u$(medium)">-->
<!--												<h3>EUROPEAN ART</h3>-->
<!--												<p></p>-->
<!--												<a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="300" data-pin-scale-width="110" href="https://www.pinterest.com/eileenfinney/european-art/"></a>-->
<!--											</div>-->
											
											
											
											
											
<!--											<div class="4u 12u$(medium)">-->
<!--												<h3>PRINTMAKING</h3>-->
<!--												<p></p>-->
<!--												<a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="300" data-pin-scale-width="110" href="https://www.pinterest.com/kvantorne/printmaking/?eq=printmaking&etslf=7500"></a>-->
<!--											</div>-->
											
											
<!--											<div class="4u$ 12u$(medium)">-->
<!--												<h3>CUBISM</h3>-->
<!--												<p></p>-->
<!--												<a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="300" data-pin-scale-width="110" href="https://www.pinterest.com/WeLoveWallArt/cubism-art/"></a>-->
<!--											</div>-->
<!--										</div>-->

<!--									<hr class="major" />-->
<!--									</div>-->
											
												
														<!-- Break -->
<!--											<div class="inner">-->
<!--											<div class="row">-->
<!--											<div class="4u 12u$(medium)">-->
<!--												<h3>ANIMATION</h3>-->
<!--												<p></p>-->
<!--												<a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="300" data-pin-scale-width="110" href="https://www.pinterest.com/joshuahogan2009/animationcharacter-design/?eq=animation%2520cha&etslf=5975"></a>-->
<!--											</div>-->
											
											
											
											
<!--											<div class="4u 12u$(medium)">-->
<!--												<h3>STREET ART</h3>-->
<!--												<p></p>-->
<!--												<a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="300" data-pin-scale-width="110" href="https://www.pinterest.com/josdortmans/street-art/?eq=street%2520art&etslf=4086"></a>-->
<!--											</div>-->
						
											
											
											
<!--											<div class="4u$ 12u$(medium)">-->
<!--												<h3>SURREALISM</h3>-->
<!--												<p></p>-->
<!--												<a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="300" data-pin-scale-width="110" href="https://www.pinterest.com/InoshiroDesign/surrealism/?eq=SURREALISM&etslf=3131"></a>-->
<!--											</div>-->
<!--										</div>-->

<!--									<hr class="major" />-->
<!--									</div>-->
											
										
										
									
											
											
											
											
											
											
											
											
									
									
									
									
									
									
			



<!--<script async defer src="//assets.pinterest.com/js/pinit.js"></script>-->
	</body>
</html>





								<!--			<div class = "inner">-->
								<!--				<div class="row">-->
								<!--			<div class="4u 12u$(medium)">-->
								<!--				<h3></h3>-->
								<!--				<p></p>-->
								<!--			</div>-->
											
											
											
											
											
								<!--			<div class="4u 12u$(medium)">-->
								<!--				<h3></h3>-->
								<!--				<p></p>-->
								<!--			</div>-->
											
											
											
											
											
											
								<!--			<div class="4u$ 12u$(medium)">-->
								<!--				<h3></h3>-->
								<!--				<p></p>-->
								<!--			</div>-->
								<!--		</div>-->
								<!--<hr class="major" />-->
								<!--</div>-->