<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<!--<link rel="icon" type="image/x-icon" href="https://cdn4.iconfinder.com/data/icons/free-large-love-icons/512/Rose.png" />-->
		<title>tębucīkø</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--<link rel="icon" href="/assets/rose2_S9S_icon.ico">-->
		
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="css/style.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>tębucīkø</strong> <span>of arts</span></a>
						
					</header>

				

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>tębucīkø</h1>
							</header>
							<div class="content">
								<p>A platform for creatives to find inspiration and connect to media.</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Start Browsing</a></li>
								</ul>
							</div>
						</div>
					</section>


				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Gothenburgbynight.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/photography" class="link">PHOTOGRAPHY</a></h3>
										<p>perfect images to stir your creative thoughts</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://c1.staticflickr.com/2/1596/25770539074_c2b7a3a4b9_b.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/music" class="link">MUSIC</a></h3>
										<p>Tunes to prompt your work flow and make you content</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://c1.staticflickr.com/2/1477/23950685021_832e0c41a3_b.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/visualart" class="link">VISUAL ART</a></h3>
										<p>artwork to influence the mind</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://tctechcrunch2011.files.wordpress.com/2015/04/codecode.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/about" class="link">ABOUT</a></h3>
										<p>meet the creators of tębucīkø</p>
									</header>
								</article>
								
								
							</section>

						

				<!-- Contact -->
					<section id="contact">
					
						
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="field half first">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field half">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="6"></textarea>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="special" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										
										<p align="right">
										<h3>ABOUT US</h3>
										<p>We are three teenagers from Austin, TX, trying to connect passionate creatives to other media that can inspire or influence them to keep creating! This is our final project for the Kode with Klossy Camp Scholarship 2017.</p>
										</p>
									</div>
								</section>
								
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Aarushi Machavarapu, Katelyn Rodrigues, Nayna Pashilkar</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>