<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="https://cdn4.iconfinder.com/data/icons/free-large-love-icons/512/Rose.png" />
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  
   <%=@photo%>
   
   
   
  </body>
</html>